header h1 {
    color: cyan;
    text-shadow: 0 0 10px cyan,
                 0 0 20px cyan,
                 0 0 30px cyan,
}
body {
    margin: 0;
    padding: 0;
    background: red;
    overflow: hidden;
}

/* Moving hacker grid background */
body: :before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background- image:
        linear-gradient(rgba(0,255,255,0.15) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0,255,255,0.15) 1px, transparent 1px);
        background-size: 50px 50px;
        animation: moveGrid 8s linear infinite;
        z-index: -1;
}
@keyframes moveGrid {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 50px 50px;
    }
}